.container{
  width: 100%;
}

ngb-progressbar {
    margin: 2rem;
  }

::ng-deep .progress-bar{
  color: black;
  font-weight: bold;
}
::ng-deep span.progress-value{
  position: absolute;
  width: 100%;
  text-align: center;
}

#dropdownBasic{
  margin-right: 50px;
  margin-left: 50px;
}

.btn-progress-value{
  margin-right: 10px;
}

.selected-bar{
  font-weight: bolder;
  color: blue;
}

@media (max-width: 500px){
  #dropdownBasic{
    margin-bottom: 20px; 
  }
}