<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Progress Bar demo.
  </h1>
</div>

<div class="container">
  <div class="row justify-content-center" *ngFor="let bar of bars.bars; let i=index">
    <div class="col-md-6">
      <p>
          Bar {{i+1}} <ngb-progressbar height="30px" id="bar-{{i}}" [type]="bar >= barLimit? 'danger':'success'" [value]="bar" [max]="barLimit">
          <span class="progress-value">{{bar*100/barLimit | number:'1.0-0'}}%</span></ngb-progressbar>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xs-6 col-xs-offset-5">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle Progrss bar</button>
        <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let bar of bars.bars; let i=index" (click)="onBarSelected(i)">#Bar {{i+1}}</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary col-xs-1 col-xs-offset-10" *ngFor="let button of bars.buttons; let i=index" (click)="onCLickEditProgress(button)">{{button}}</button>
  </div>

</div>